<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/show.css">

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <a href="/">Home Page</a>
    <a href="/basketball">Basketball</a>
    <a href="/teams/new">Add Team</a>
    <a href="/players/new">Add Player</a>
    <a href="/profiles/<%= user.profile._id %>">My Profile</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
<main>
  <h1><%= player.name %>: <%= player.team %>, <%= player.year %></h1>
  <h2>Player's Season Stats:</h2>
  <form action="/players/<%= player._id %>?_method=PUT" method="POST">
    <h3>
      Games Played:
      <input type="text" name="games" value="<%= player.games %>" autocomplete="off"></h3>
    <h3>
      Points:
      <input type="text" name="points" value="<%= player.points %>" autocomplete="off"></h3>
    <h3>
      Rebounds:
      <input type="text" name="rebounds" value="<%= player.rebounds %>" autocomplete="off"></h3>
    <h3>
      Assists:
      <input type="text" name="assists" value="<%= player.assists %>" autocomplete="off"></h3>
    <h3>
      Blocks:
      <input type="text" name="blocks" value="<%= player.blocks %>" autocomplete="off"></h3>
    <button type="submit">Update Player Stats</button>
    <a href="/players/<%= player._id %>">
      <button>Cancel</button>
    </a>
  </form>
</main>

<%- include('../partials/footer') %>