<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/index.css">

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <a href="/">Home Page</a>
    <a href="/basketball">Basketball</a>
    <a href="/teams/new">Add Team</a>
    <a href="/players/new">Add Player</a>
    <a href="/profiles/<%= user.profile._id %>">My Profile</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
<main>
  <div class="cardContainer">
    <% players.forEach(player => { %>
      <a class="text-decoration-none" href="/players/<%= player._id %>">
        <div class="card">
          <% if (player.image) { %>
            <img src="<%= player.image %>" alt="<%= player.name %>'s image">
          <% } else { %>
            <img src="https://picsum.photos/96" alt="A placeholder image">
          <% } %>
          <div class="card-body">
            <h1 class="card-title"><%= player.name %></h1>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>