<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/new.css">

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <a href="/">home page.</a>
    <a href="/basketball">basketball.</a>
    <a href="/teams/new">add team.</a>
    <a href="/players">all players.</a>
    <a href="/profiles/<%= user.profile._id %>">my profile.</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">logout.</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
<main>
  <h1>add a player</h1>
  <form id="new-form" action="/players" method="POST">
    <div class="basic-info-input">
      <label for="name-input">player name: </label>
      <input type="text" name="name" id="name-input" autocomplete="off">
      <label for="year-input">year: </label>
      <input type="number" name="year" id="year-input" autocomplete="off">
      <label for="team-input">team: </label>
      <input type="text" name="team" id="team-input" autocomplete="off">
    </div>
    <h3>season stats:</h3>
    <div class="stats-input">
      <label for="games-input">games played: </label>
      <input type="text" name="games" id="games-input" autocomplete="off">
      <label for="points-input">points: </label>
      <input type="text" name="points" id="points-input" autocomplete="off">
      <label for="rebounds-input">rebounds: </label>
      <input type="text" name="rebounds" id="rebounds-input" autocomplete="off">
      <label for="assists-input">assists: </label>
      <input type="text" name="assists" id="assists-input" autocomplete="off">
      <label for="blocks-input">blocks: </label>
      <input type="text" name="blocks" id="blocks-input" autocomplete="off">
      <button type="submit">add player</button>
    </div>
  </form>
  <h2>recently added players:</h2>
  <ul>
    <% players.forEach(player => { %>
      <li>
        <form action="/profiles/<%= user.profile._id %>/roster" method="POST">
          <a href="/players/<%= player._id %>"><%= player.name %></a>, player for the <%= player.team %> in <%= player.year %>
          <input name="playerId" type="hidden" value="<%= player._id %>" hidden="true">
          <button type="submit">add to roster</button>
        </form>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>