<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/show.css">

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <a href="/">home page.</a>
    <a href="/basketball">basketball.</a>
    <a href="/teams/new">add team.</a>
    <a href="/players">all players.</a>
    <a href="/profiles/<%= user.profile._id %>">my profile.</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">logout.</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
<main>
  <div class="playerCard">
    <% if (player.image) { %>
      <img class="player-image" src="<%= player.image %>" alt="<%= player.name %>'s Photo">
    <% } %>
    <h1><%= player.name %></h1>
    <h2><%= player.team %>, <%= player.year %></h2>
  </div>
  <div class="playerStats">
    <h3><%= player.name %>'s season stats:</h3>
    <h4>games played: <%= player.games %></h4>
    <h4>points: <%= player.points %></h4>
    <h4>rebounds: <%= player.rebounds %></h4>
    <h4>assists: <%= player.assists %></h4>
    <h4>blocks: <%= player.blocks %></h4>
  </div>
  <a href="/players/<%= player._id %>/edit">
    <button>edit player stats</button>
  </a>
  <% if (user.profile.roster.some(person => person._id.equals(player._id))) { %>
    
  <% } else { %>
    <form action="/profiles/<%= user.profile._id %>/roster" method="POST">
      <input name="playerId" type="hidden" value="<%= player._id %>" hidden="true">
      <button type="submit">add to roster</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>