<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/show.css">

<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav>
    <a href="/">Home Page</a>
    <a href="/basketball">Basketball</a>
    <a href="/teams/new">Add Team</a>
    <a href="/players">All Players</a>
    <a href="/profiles/<%= user.profile._id %>">My Profile</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
<main>
  <h1><%= player.name %></h1>
  <% if (player.image) { %>
    <div>
      <img class="player-image" src="<%= player.image %>" alt="<%= player.name %>'s Photo">
    </div>
  <% } %>
  <h2><%= player.team %>, <%= player.year %></h2>
  <h3>Player's Season Stats:</h3>
  <h4>Games Played: <%= player.games %></h4>
  <h4>Points: <%= player.points %></h4>
  <h4>Rebounds: <%= player.rebounds %></h4>
  <h4>Assists: <%= player.assists %></h4>
  <h4>Blocks: <%= player.blocks %></h4>
  <a href="/players/<%= player._id %>/edit">
    <button>Edit Player Stats</button>
  </a>
  <form action="/profiles/<%= user.profile._id %>/roster" method="POST">
    <input name="playerId" type="hidden" value="<%= player._id %>" hidden="true">
    <button type="submit">Add to Roster</button>
  </form>
</main>

<%- include('../partials/footer') %>