<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    </div>
  <% } %>
  <h1><%= profile.name %></h1>
  <h2><% if (profile.favTeams.length === 1) { %>
    favorite team:
  <% } else { %>
    favorite teams:
  <% } %></h2>
  <ul>
    <% profile.favTeams.forEach(favTeam => { %>
      <li>
        <% if (self) { %>
          <form action="/profiles/<%= profile._id %>/favTeams/<%= favTeam._id %>?_method=DELETE" class="delete-form" method="POST">
            <%= favTeam.name %>
            <button type="submit">delete team.</button>
          </form>
        <% } else { %>
          <%= favTeam.name %>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <% if (self) { %>
    <form action="/profiles/<%= profile._id %>/favTeams" method="POST">
      add one of your favorite teams:
      <select name="favTeamId">
          <option selected>------------------------------</option>
        <% favTeams.forEach(favTeam => { %>
          <option value="<%= favTeam._id %>"><%= favTeam.name %></option>
        <% }) %>
      </select>
      <button type="submit">add to favorites.</button>
    </form>
  <% } %>
  <h2><%= firstName %>'s roster:</h2>
  <div class="rosterContainer">
    <% profile.roster.forEach(player => { %>
      <div class="playerCard">
        <a href="/players/<%= player._id %>" class="player-link">
          <% if (player.image) { %>
            <img class="playerImg" src="<%= player.image %>" alt="<%= player.name %>'s avatar">
          <% } else { %>
            <img class="playerImg" src="https://picsum.photos/96" alt="A placeholder avatar">
          <% } %>
          </a>
          <a 
            href="/players/<%= player._id %>" 
            class="player-link">
            <%= player.name %>, <%= player.team %> <%= player.year %>
          </a>
        <% if (self) { %>
          <form action="/profiles/<%= profile._id %>/roster/<%= player._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">remove player.</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>