<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %>. welcome to sportify</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <a 
    href="/basketball" <%- title === 'Basketball' ? 'class="active"' : '' %>
  >
    Basketball
  </a>
</main>

<%- include('./partials/footer') %>
